   <!DOCTYPE html>
<html>
<head>
  <title>show</title>

 <%= stylesheet_link_tag 'show' %>
 <!-- CSS fájl beillesztése -->
</head>
<body class="show-page">

<h1><%= @dog.name %></h1>
<h4>"<%= @dog.motto %>"</h4>
</body>
</html>