
.#dogs-content {
    background-image: asset-url('girl-1822525_1280.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
  }