

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div style="position: absolute; bottom: 0; width: 100%; background-color: #333; color: #fff; padding: 10px;">
    <!-- Itt lehet elhelyezni a lábléc tartalmát -->
  </div>
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Mircea.Z", "https://www.facebook.com/" %></small>
  </div>
</footer>
